_x/
.crashReporter/
.ipcache/
.Xil/
drivers/
extracted/
Work/
*.log
*.a
*.csv
*.db
*.xo
vitis-comp.json
aie_primitive.json
mm2s/
s2mm/
*.o
pfm_baremetal/
*summary
*.pdi
*.xsa
*.elf
*.xclbin
sd_card/
aiesimulator_output/
.AIE_SIM_CMD_LINE_OPTIONS
pl_sample_counts
aie_control_config.json
build/
cscope.*
compile_commands.json
.cache/clangd/
.cursor/
thirdparty/