# Copyright (C) 2025 - 2026 Advanced Micro Devices, Inc.
# SPDX-License-Identifier: Apache-2.0

[advanced]
param=hw_emu.simulator=XSIM
#param=project.useScriptExecutionCmd=true
[vivado]
prop=fileset.sim_1.xsim.simulate.log_all_signals=false
prop=fileset.sim_1.xsim.elaborate.xelab.more_options={--stats}
prop=fileset.sim_1.xsim.simulate.xsim.more_options={--stats}
param=project.printDebugMsgForSimModelLibRef=1
#param=project.configureXSimEnvForGCC9.3.0=true
