# Copyright (C) 2025 - 2026 Advanced Micro Devices, Inc.
# SPDX-License-Identifier: Apache-2.0

[connectivity]
stream_connect=mm2s.s:ai_engine_0.DataIn
stream_connect=ai_engine_0.DataOut:s2mm.s

[advanced]
param=compiler.addOutputTypes=hw_export
